In [9]:
import pandas as pd
import os

In [10]:
CSV_PATH = os.path.join("..","..","source", "Sales_Dataset.csv")
if os.path.exists(CSV_PATH):
    df = pd.read_csv(CSV_PATH)
    print(df.head())
else:
    print(f"File not found: {CSV_PATH}")

   OrderID        Date  Gender  Age      Product  Quantity  Price  \
0        0  11/24/2023    Male   34       Beauty         3     50
1        1   2/27/2023  Female   26     Clothing         2    500
2        2   1/13/2023    Male   50  Electronics         1     30
3        3   5/21/2023    Male   37     Clothing         1    500
4        4    5/6/2023    Male   30       Beauty         2     50

   Total Amount
0           150
1          1000
2            30
3           500
4           100

In [11]:
max_spent = df['Total Amount'].max()
print(f"Maximum amount spent in a single transaction: {max_spent}")

Maximum amount spent in a single transaction: 2000

In [12]:
min_spent = df['Total Amount'].min()
max_spent = df['Total Amount'].max()
print(f"Minimum amount spent in a single transaction: {min_spent}")
print(f"Maximum amount spent in a single transaction: {max_spent}")

Minimum amount spent in a single transaction: 25
Maximum amount spent in a single transaction: 2000

In [13]:
median_spent = df['Total Amount'].median()
print(f"Median amount spent in a single transaction: {median_spent}")

Median amount spent in a single transaction: 135.0

In [ ]:
import numpy as np

median_spent = df['Total Amount'].median()

# Fast vectorized way
df['spend_category'] = np.where(
    df['Total Amount'] > median_spent,
    'A',
    'B'
)

# Summary
print(df)

     OrderID        Date  Gender  Age      Product  Quantity  Price  \
0          0  11/24/2023    Male   34       Beauty         3     50
1          1   2/27/2023  Female   26     Clothing         2    500
2          2   1/13/2023    Male   50  Electronics         1     30
3          3   5/21/2023    Male   37     Clothing         1    500
4          4    5/6/2023    Male   30       Beauty         2     50
..       ...         ...     ...  ...          ...       ...    ...
995      995   5/16/2023    Male   62     Clothing         1     50
996      996  11/17/2023    Male   52       Beauty         3     30
997      997  10/29/2023  Female   23       Beauty         4     25
998      998   12/5/2023  Female   36  Electronics         3     50
999      999   4/12/2023    Male   47  Electronics         4     30

     Total Amount    spend_category
0             150  A (above median)
1            1000  A (above median)
2              30      B (≤ median)
3             500  A (above median)
4             100      B (≤ median)
..            ...               ...
995            50      B (≤ median)
996            90      B (≤ median)
997           100      B (≤ median)
998           150  A (above median)
999           120      B (≤ median)

[1000 rows x 9 columns]